<?xml version="1.0"?>
<launch>
	
	<arg name="frame_id" default="imu"/>
	<arg name="frame_local" default="ENU"/>

	<node pkg="tf" type="static_transform_publisher" name="static_tf_imu" args="0 0 0.1 0 0 0 1 base_link imu 100" />
	<node pkg="tf" type="static_transform_publisher" name="static_tf_prism" args="0 0 1 0 0 0 1 base_link prism 100" />
	<node pkg="leica_tca1100" type="leica_tca1100" name="indoor_rtk_node" args="/dev/ttyUSB0 19200" />

</launch>

