<!--%Tag(FULL)%-->

<launch>
    <arg name="frame_id" default="imu"/>

    <arg name="frame_local" default="ENU"/>



	<node pkg="tf" type="static_transform_publisher" name="static_tf_imu" args="0 0 0.1 0 0 0 1 base_link imu 100" />
	<node pkg="tf" type="static_transform_publisher" name="static_tf_prism" args="0 0 1 0 0 0 1 base_link prism 100" />


	<node pkg="xsens_driver" type="mtnode.py" name="xsens_driver" output="screen" >
		<param name="frame_id" value="$(arg frame_id)"/>

		<param name="frame_local" value="$(arg frame_local)"/>
		
		<param name="device" value="/dev/ttyUSB0"/>
		
	</node>

	<node pkg="serial_test" type="serial_test_node" name="indoor_rtk_node" args="/dev/ttyUSB1 9600" />



   
 <!-- EKF localization LOCAL node -->
 <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local" clear_params="true">

  <param name="frequency" value="50"/>
  <param name="sensor_timeout" value="0.1"/>
  <param name="two_d_mode" value="false"/>

  <param name="odom_frame" value="ENU"/>
  <param name="base_link_frame" value="base_link"/>
  <param name="world_frame" value="ENU"/>

  <param name="transform_time_offset" value="0.0"/>
  
  <param name="odom0" value="/odometry/indoor_rtk"/>
  <!-- <param name="imu0" value="/imu/data"/> -->

  

 <!-- <rosparam param="imu0_config">[false, false, false,
                                 false, false, false,
                                 false, false, false,
                                 true, true, true,
                                 false,  false,  false]</rosparam> -->


  <rosparam param="odom0_config">[true, true, true,
                                 false, false, false,
                                 false, false, false,
                                 false, false, false,
                                 false,  false,  false]</rosparam>


  
  
 <!-- <param name="imu0_differential" value="true"/> -->
  <param name="odom0_differential" value="false"/>

  
 <!-- <param name="imu0_relative" value="true"/> -->
  <param name="odom0_relative" value="false"/>


  <param name="print_diagnostics" value="true"/>



  
 </node>






</launch>
